sudo: false
language: python
python: 3.8
email: false
env:
  - PYTHON=3.8 PANDAS=MASTER
before_install:
  - echo "before_install"
  - sudo apt-get install libcairo-dev
  - sudo apt install libcairo2-dev pkg-config python3-dev
  - pip3 install --upgrade pip setuptools wheel
  - pip install tk
  - pip install cython
  - pip install pycairo==1.18.0
  - pip install --upgrade certifi
  - sudo apt-get install pkg-config
install:
  - python setup.py install
script:
- nosetests tests/testparser.py
- nosetests tests/test_rowingdata.py
after_success:
- coveralls --config_file .coveragerc
before_deploy:
- pip install --upgrade pip
- pip install setuptools twine wheel
- pip install cython
- python setup.py install
- python setup.py sdist
deploy:
  provider: pypi
  user: sanderroosendaal
  password:
    secure: kGtMHEQPUyWhDAZYI6HfBZ78zbN9yBRpLObgBymjtokICUpBPjE6/o8qrZ31iLki2uBQn/DLrA5vBDrYLQ5hMaiP5e0bBherlpoTkiyd0se0py9YSG0d7umqd0SVZ+NXEEeQBSDvvZBHrn5jj1gfrbE4r4bY3HpFv+glzN+P45wsmFj+YlqTQE9jPk00b+RkE+2rhDdZDqWMd9Ql4QDKks3yFy1aE89+oENSppbe9n15uJT83E9cNICn6Y03tUJHelSNKx9EAQEeqPDREsS1RbZhWDeKwgRwu+7szShnp6/3riwuzsmLPZV4HOvAC87Fhkse3SQ1Q5B6N/j18XWosW5ER/5PP1yGr3WxWksnATbwtgmO4uHpzgjaVrnH3eT0D517fiBU6UOmYzQtSsFVf42wRK7G6WVJWlCPt0qg1KzTZ5QGHaLGo0d3m1YEyct/kJEKa54wYCCxBADhor06MwlE6WF8GXxhzWaXwLf9abW9RDun1klgFCWDIAMPtVBAxXyGA936s9X5dFMYBITm/fEeamhAAC9l9ZC99Zuh9TT13j7EW1I8/ZMVOIBhtvoHgOkR54Er55P2ZDVVdlqjCt/dgmZ93fsAAQwtFPhyvsmwA8HejCdAAJnc0xihYB97UKKJcLg4v4Q9T+mBZoezhWfogtpGvSpntQ/JPDhikxs=

  distributions: sdist
  on:
    branch: master
    python: 3.8
    repo: sanderroosendaal/rowingdata
